<div class="card">
  <div class="card-header">
    {{pageTitle}}
  </div>
  <div class="card-body">
    <div class="container-fluid">
        <h2>
          Welcome to product management project.
        </h2>
        <h2>
          This is implemented using RxJS.
        </h2>

      <div class="text-center">Developed by:</div>
      <div class="text-center">
        <h3>Harshil Moradia</h3>
      </div>

      <div class="text-center">
        <a href="https://harshil-moradia.web.app/" target="_blank">Harshil's Portfolio</a>
      </div>
    </div>
  </div>
</div>